<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Hungrie{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hungrie dashboard">
    <meta name="author" content="Hungrie">

    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    
    {% block specific_styles %} 	{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../static/assets/ico/favicon.png">
  </head>

  <body>

  {% block base_navbar %} {% endblock %}

  {% block body %} {% endblock %}
  
 <hr>
 <footer>
	{% block footer %}
      <div class="span6">
      	<p>&copy; Hungrie 2013</p>
      </div>
    {% endblock %}   
 </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../static/assets/js/bootstrap.min.js"></script>
 
  </body>
</html>
