{% extends "base_dashboard.html" %}

{% block sidebar %}
              <li class="nav-header">Orders</li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/dashboard/order_notifications">Notifications</a></li>
              <li><a href="/dashboard/order-history">Order History</a></li>
              <li class="active"><a href="#">Ongoing orders 
              {% if n_ongoing_orders > 0 %}
              	<span class="badge badge-warning">{{ n_ongoing_orders }}</span>
              {% endif %}
              </a>
              </li>
              <li class="nav-header">Restaurant</li>
              <li><a href="/dashboard/restaurant">Restaurant info</a></li>
              <li><a href="/dashboard/sections">Menu sections</a></li>
              <li><a href="/dashboard/items">Menu list</a></li>
              <li class="nav-header">User</li>
              <li><a href="/admin">Admin panel</li>
              <li><a href="/logout">Log out</a></li>
{% endblock %}

{% block content %}
<div class="span9">
<div class="well">
	<h2>Ongoing orders</h2>
    {% if orders %}
    <div class="well">
    <table class="table ">
	    <thead>
	    <tr>
		    <th>Status</th>
		    <th>Created</th>	    
		    <th>ID</th>
		    <th>Address</th>
		    <th>Total</th>
		    <th>Details</th>
	    </tr>
	    </thead>
	    <tbody>        	    
        {% for order, address in orders.items %}
	        	<tr>
		    		<td>
		    		{% if order.status == 0 %}
		    			<span class="label label">Creating</span>
		    		{% elif order.status == 1 %}
		    			<span class="label label-important">Waiting</span>
		    		{% elif order.status == 2 %}
		    			<span class="label label-warning">Accepted</span>
					{% elif order.status == 3 %}
		    			<span class="label label-info">Declined</span>
					{% else %}
		    			<span class="label label-success">Delivered</span>			    					
		    		{% endif %}
		    		</td>
		    		<td>{{ order.created }}</td>	        	
		    		<td>{{ order.id }}</td>
		    		<td>{{ address.street1 }}</td>
		    		<td>
		    		{{ order.total }} €
		    		</td>
		    		<td>
		    		<a href="order-details/{{ order.id }}" class="btn btn-success"><i class="icon-white icon-search"></i> Details</a>
		    		</td>
	    		</tr>
		{% endfor %}
		</tbody>
	</table>
    </div>
	{% else %}
		<p> There are not orders registered on our database.</p>
	{% endif %}
		    
</div>
</div><!--/span-->
{% endblock %}